$icon-font-path: '../fonts/';

$roboto-font-path: "../fonts/" !default;
$icons-font-path: "../fonts/" !default;

// bower:scss
@import "bower_components/materialize/sass/materialize.scss";
// endbower

nav ul a,
nav .brand-logo {
  color: #444;
  padding-top: 9px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {

  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

  .section {
    width: 100%;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;

  img.logo {
    height: 37px;
  }

  .footer-copyright {
    line-height: 80px;
    height: 80px;
    padding-top: 10px
  }
}

#main-motto {
  margin-top: 200px;
  color: #666;
}
