
// Modal Structure
#modal-mourn.modal.initial-open
  img(src="images/alsancak.jpg" style="margin: 0 0 -62px;")
  div(style="text-align: right")
    a.modal-action.modal-close.waves-effect.waves-teal.btn-flat.white-text(href='#!' style="margin: 10px") Kapat