extends layouts/default

block content
  #index-banner.parallax-container
      .section.no-pad-bot
        .container
          h3#main-motto.center.light.indigo-text 2D / 3D planner centered around modern web

      .parallax
        img(src='images/bg1.jpg', alt='Unsplashed background')

    .container
      .section
        // Icon Section
        .row
          .col.s12.m4
            .icon-block
              h2.center.teal-text.text-lighten-2
                i.mdi-editor-format-paint

              h5.center Appealing
              p.light.center Both well engineered & beautifuly designed.

          .col.s12.m4
            .icon-block
              h2.center.indigo-text.text-lighten-2
                i.mdi-hardware-desktop-mac.large
                i.mdi-hardware-tablet-mac.medium
                i.mdi-hardware-smartphone.small

              h5.center Cross Device
              p.light.center Take advantage of working across multiple devices and speed up!

          .col.s12.m4
            .icon-block
              h2.center.pink-text.text-lighten-2
                i.mdi-image-flash-on
              h5.center Performant
              p.light.center Tuned for performance and efficiency. Make the best out of your hardware!

    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            i.mdi-content-send.indigo-text.medium
            h3.header.col.s12.light.indigo-text.text-lighten-1 Contact us

      .parallax
        img(src='images/bg3.jpg', alt='Unsplashed background img 2')

    .container
      .section
        .row
          .col.s12.center
            a(href="mailto:info@dpocad.com").btn-large.waves-effect.waves-light.pink.lighten-1 Say Hello

    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            i.mdi-action-thumb-up.medium.indigo-text.text-lighten-4
            h5.header.col.s12.light.indigo-text.text-lighten-4 We are hiring!
            p
              a(href="mailto:info@dpocad.com").indigo-text.text-lighten-4.light info@dpocad.com

      .parallax
        img(src='images/bg2.jpg', alt='Unsplashed background img 3')